<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <!--old-->
    <!--<add key="host" value="https://529-fgg-715.mktorest.com" />
    <add key="clientId" value="1659dcfa-6624-4b17-a8a9-ccb6c5841f4e" />
    <add key="clientSecret" value="cmdYVQHIVGkEwnphZISBsTtuLihMCMOz" />-->
    <!--old prod-->
    <add key="host" value="https://005-SHS-767.mktorest.com" />
    <add key="clientId" value="effd85c2-28ab-4156-96ee-1260694e8db6" />
    <add key="clientSecret" value="3zf2kUuzQ5MPEo6LUfacgCX9SH8D8mkE" />
    <!--new-->
    <!--<add key="host" value="https://907-IYE-166.mktorest.com" />
    <add key="clientId" value="567ac394-2a1f-420e-b0f2-cef2cd5a4ae2" />
    <add key="clientSecret" value="ul0TCuddxwnRAIK1ZZpCaVNPWwOriqsX" />-->
  </appSettings>

</configuration>