<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <add key="host" value="https://529-FGG-715.mktorest.com" />
    <add key="authorizeRelativePath" value="/identity/oauth/token" />
    <add key="restRelativePath" value="/rest" />
    <add key="clientId" value="1659dcfa-6624-4b17-a8a9-ccb6c5841f4e" />
    <add key="clientSecret" value="cmdYVQHIVGkEwnphZISBsTtuLihMCMOz" />
    <add key="requestTimeoutSeconds" value="3000" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>