<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <!--int-->
    <!--
    <add key="host" value="https://907-IYE-166.mktorest.com" />
    <add key="authorizeRelativePath" value="/identity/oauth/token" />
    <add key="restRelativePath" value="/rest" />
    <add key="client_id" value="567ac394-2a1f-420e-b0f2-cef2cd5a4ae2" />
    <add key="client_secret" value="ul0TCuddxwnRAIK1ZZpCaVNPWwOriqsX" />
    <add key="requestTimeoutSeconds" value="3000" />-->
    <!--int-->

    <!--uat-->
    <add key="host" value="https://151-XLP-597.mktorest.com" />
    <add key="authorizeRelativePath" value="/identity/oauth/token" />
    <add key="restRelativePath" value="/rest" />
    <add key="client_id" value="5264db99-14ec-4f0a-918a-9373c5370082" />
    <add key="client_secret" value="2z8uOYPocY9LOkqCitUbYJKNxj9TSLYk" />
    <add key="requestTimeoutSeconds" value="3000" />
    <add key="scope" value="lshubuat@ge.com" />
    <!--uat-->
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>